.btn-play{
    margin-right: 50px;
}
.btn-hold{
    margin-left: 20px;
}
.player1{
    text-align: center;
 margin-bottom: 5%;
}
.player2{
    text-align: left;
    margin-bottom: 5%;
}

.btn-play{
  background-color: red;
  color: white;
}
